<div *ngFor="let file of files">
    <hr>
    <h3>numer: {{ file.redNumber }}</h3>
    <p>{{ file.date | date:"yyyy-MM-dd" }} - {{ file.secondDate | date:"yyyy-MM-dd" }}</p>
    <p>{{ file.content }}</p>
    <hr>
</div>

