<header>
    <div class="cotainer">
      <a href="#" class="logo">CSI: Vilnius</a>
      <nav class="logo">
        <ul>
          <li><a href="#" routerLink="/" >Home</a></li>
          <li><a href="#" routerLink="/list" >List</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>