<p>Welcome!</p>
<!-- 
<div class="play-container">
    <p>You've clicked <span (click)="countCLick()">this</span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name"><br>
        <strong>You said: </strong>{{name}}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        yes
    </ng-template>

    <ng-template #none>
        no
    </ng-template>

</div> -->